/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /* Spaces logo and ul */
    align-items: center; /* Vertically centers logo and ul */
    padding: 10px 20px;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
    font-weight: 400;
    color:#495e57;
}

nav img {
    height: 50px; /* Adjust logo size */
}

nav ul {
    display: flex; /* Make ul a flex container for horizontal li */
    flex-direction: row; /* Ensure li elements are horizontal */
    list-style: none; /* Remove default bullets */
    padding: 0;
    margin: 0;
}

nav li {
    margin-left: 40px; /* Space between links */
}

nav a {
    text-decoration: none;
    color:#495e57;
}

nav a:hover {
    text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; /* Spaces logo and ul */
  align-items: center; /* Vertically centers logo and ul */
  padding: 10px 20px;
  background-color: #495e57;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
}

footer img {
  background-color: #fff;
}

footer ul{
  list-style: none;
}

footer a{
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}

main ul:first-of-type{
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Spaces logo and ul */
  align-items: center; /* Vertically centers logo and ul */
  padding: 10px 10px;
  color:#fff;
  background-color: #495e57;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  padding-left: 100px;
  padding-right: 100px;
}

main ul:nth-of-type(2){
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; /* Spaces logo and ul */
  align-items: center; /* Vertically centers logo and ul */
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  list-style: none; /* Remove default bullets */
  margin-left: 100px;
  margin-right: 100px;
}

main ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Spaces logo and ul */
  align-items: center; /* Vertically centers logo and ul */
  padding: 10px 20px;
  color:#495e57;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

main ul p:first-of-type{
  padding-right: 100px;
}

main img {
  max-width: 300px;
}

main h1{
  color: #F3CC19;
}

main ul h2{
  text-align: left;
}

main h2{
  text-align: center;
  color:#495e57;
  font-family: 'Montserrat', sans-serif;
}

main ul:nth-of-type(4){
  background-color:#495e57;
  color:#fff
}

@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack logo and ul vertically */
        align-items: center;
    }

    nav ul {
        flex-direction: column; /* Stack li elements vertically */
        text-align: center;
    }

    nav li {
        margin: 10px 0; /* Vertical spacing for stacked links */
    }
}